@font-face {
  font-family: 'Futura';
  src: url(Fonts/futura.ttc);
}
@font-face {
  font-family: 'FuturaBold';
  src: url(Fonts/futura_bold.ttf);
}
@font-face {
  font-family: 'Oswald';
  src: url(Fonts/oswald_light.ttf);
}


body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'FuturaBold', sans-serif;
}

#navbar {
  position: fixed;
  height: 7vw;
  width: 100%;
  z-index: 9;
}
.top_navbar {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    transition: 0.4s ease-in-out;

}
.white {
  background: white;
  transition: 0.4s ease-in-out;
  color: black;
}

.search {
  display: flex;
  height: 45%;
  width: 30%;
  padding-right: 5vw;
  justify-content: flex-end;
}
.search img {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  height: 100%;
}
.logo {
  background: url('Images/LogoWhite.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: 40%;
}
.invert {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
#burger_menu {
  display: flex;
  height: 35%;
  width: 30%;  
  justify-content: flex-start;
  padding-left: 5vw;
}
#burger_menu img {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  height: 100%;
  cursor: pointer;
}
#hidden_navbar{
  position: absolute;
  top: 4vh;
  height: 50%;
  width: 100%;
    transition: 0.4s ease-in-out;
  z-index: -1;
  visibility: hidden;
}
#hidden_navbar.expand {
  top: 7vh;
  transition: 0.4s ease-in-out;
  visibility: visible;
}

.list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 1vh 0 0 0;
}

.list li a {
  text-decoration: none;
  font-size: 1.5vw;
}
.white_text {
  color: white;
}













.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('Images/BackgroundVinylSmall.jpg');
  background-size: cover;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}

.rotating-cards {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  left: -5vw;
  
}

.rotating-cards__el {
  position: absolute;
  top: 0;
  left: 0;
  width: 104%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

}

.rotating-cards__el div {
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  background-size: cover;
  background-position: 50% 50%;

}
#img_1 {
  background-image: url('Images/FJM.jpg');
  margin-left: 30vw;
  background-position: 50% 40%;
}
#img_2 {
  background-image: url('Images/Tyler.jpg');
  margin-left: 8vw;
  background-position: 50% 50%;  
}
#img_3 {
  background-image: url('Images/Julia.jpg');
  margin-left: 30vw;
  background-position: 50% 0%;

}

.info_box {
  position: absolute;
  top: 35vh;
  left: 10vw;
  height: 25vw;
  width: 25vw;
  background-size: cover;

}
.info_julia {
  background-image: url('Images/InfoBoxJulia.svg');

}
.info_tyler {
  background-image: url('Images/InfoBoxTyler.svg');
}
.info_fjm {
  background-image: url('Images/InfoBoxFJM.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.background_vinyl {
  position: absolute;
  background-image: url('Images/BackgroundVinyl.jpg');
  background-size: cover;
  width: 104%;
  height: 100vh;
  top: 0vh;
  left: -40vw;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}





@media (max-width: 860px){

  #navbar {
    height: 10vh;
  }
  #hidden_navbar.expand {
    top: 6vh;
  }


  .rotating-cards__el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140vh;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 0 75%);
  }
  .background_vinyl {
    background-image: url('Images/BackgroundVinylSmall.jpg');
    top: -50vh;
    left: 5px;
    width: 100vw;
    height: 140vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 0 75%);
  }
  .container {
    margin: 0;
    padding: 0;
    background-position: 60% 0;
  }
  #img_1{
    background-size: cover;
    background-position: 50% 0;
    margin: 0;
  }
  #img_2{
    background-size: cover;
    background-position: 69% 0;
    margin: 0;
  }
  #img_3{
    background-size: cover;
    background-position: 50% 130px;
    margin: 0;
  }
  .info_box {
    top: 15vh;
    left: 15vw;
    height: 45vw;
    width: 45vw;
  }
  
}




@media (max-width: 400px)
and (orientation: portrait) {

  #navbar {
    height: 29vw;
    background: url('Images/NavbarLarge.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -110vw;
        transition: 0.3s ease-in-out;

  }
  #navbar.down {
    background-position: 0 -10vh;
    background-size: 100vw 80vh;
    height: 74vh;
        transition: 0.4s ease-in-out;

  }

  .top_navbar {
    height: 18vw;
  }




  .search,
  .logo,
  #burger_menu {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  height: 100%;
  }
  .white {
    background: unset;
  }

  .white_text {
    color: black;
  }
  
    .search,
    #burger_menu {
      height: 5vw; 
    }
    #hidden_navbar {
      flex-direction: column;
      width: 40%;
      height: 50vh;
      top: -40vh;
    }
    #hidden_navbar.expand {
      top: 10vh;
    }
    .list {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5vw;
    }
    .list li {
          margin-bottom: 4vh; 

    }
    .list li a {
      font-size: 4vw;
    }
  }


}


